
header{
margin:0;
display:flex;
justify-content:space-between;
align-items: center;

}


.navbar li a{
    font-weight:bold;
    font-size: 20px;
    text-decoration: none;
    font-family: Letter Gothic STD;
    text-shadow: 0px 1px 1px #7D7D7D;
}
.nav_links li a{
          padding:0px 50px;
}
.logo{
cursor:pointer;
width:150px;

}

.nav_links{
list-style:none;
}
.nav_links li{
display:inline-block;
padding:0px 20px;
}
.nav_links li a{
        transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    text-decoration: underline;
}


.search button{
        font-size: 13px;
        font-weight:bold;
        border: none;
        cursor: pointer;
        transition: all 0.3s ease 0s;
}
.search button:hover{
        background-color: white;
}
.search input[type=text]{
        width:100px;
        margin-right:10px;
}
.bg {
    background-image: url(mm.jpg);
    background-size: 600px,100px;
    background-position: 80%,50%;
    background-attachment: fixed;
    background-repeat: no-repeat;

}
.img{
    background-image: url(Untitled-1.jpg);
    background-repeat: no-repeat;
    height:500px;
    width:400px;
    position: relative;
    margin-left:205px;
    margin-top:-100px;
	background-attachment:fixed;
}
.img p{
    font-size:50px;
    text-align: left;
    padding-left: 50px;
    color:white;
    text-shadow: 0px 1px 1px #000000;
}
.img button{
          font-size: 20px;
          font-weight:bold;
          border-radius: 41%;
          border: none;
          cursor: pointer;
          transition: all 0.3s ease 0s;
}
